<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ProjectTest"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS">
<mapEntry key="test.LogTest" value="main"/>
<mapEntry key="test.Vehicle1" value="runafter;runbefore;generalinfo;car;random;bike;cab"/>
<mapEntry key="test.Vehicle2" value="Bus;Auto;Train;cycle"/>
<mapEntry key="test.Vehicle3" value="BajajHighEnd;AshokLowEnd;BajajLowEnd;HeroHighEnd;AshokHighEnd;HeroLowEnd"/>
<mapEntry key="test.Vehicle_Login" value="MobileAppLogin;MobileAPILogin;MobileWebLogin;OtherLogin;Extras"/>
</mapAttribute>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="test.Vehicle_Login"/>
<listEntry value="test.Vehicle1"/>
<listEntry value="test.LogTest"/>
<listEntry value="test.Vehicle3"/>
<listEntry value="test.Vehicle2"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
